.bible-chapter-data {
    text-align: left;
    width: 100%;
	height: 0px;
    display: block;
    float: left;
	visibility: hidden;
}

.bible-links {
	text-align: left;
    width: 100%;
	height: 0px;
    display: block;
    float: left;
	visibility: hidden;
}

#titleblock { 
	overflow: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	position:fixed; 
	bottom: 0px;
	background: -webkit-linear-gradient(white, lightblue);
    background: -o-linear-gradient(white, lightblue);
    background: -moz-linear-gradient(white, lightblue);
    background: linear-gradient(white, lightblue);
	width: 100%;
	left: 0px;
	right: 0px;
	z-index: 5;
}

#titleblock a {
	font-size: 15px;
}

#titleblock a:hover {
	color: purple;
}

#test {
    display: block; 
	position: fixed; 
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: -webkit-linear-gradient(white, lightblue);
    background: -o-linear-gradient(white, lightblue);
    background: -moz-linear-gradient(white, lightblue);
    background: linear-gradient(white, lightblue);
	color: darkblue;
	padding: 10px;
	z-index: 4;
}

.bfmore {
	cursor: pointer;
}

#bfcitate { 
	position: relative; 
	cursor: pointer;
}

#bfcitate a { 
	color: blue;
}



#bfframe em { 
	font-size: 18px;
	color: darkred;
}

@media (min-width: 1024px){
#bfframe { 
	display: none; 
	font-size: 14px;
	cursor: text;
    display: block; 
	position: absolute; 
	top: 14px;
	right: 50px;
	left: -50px;
	min-width: 160px;
	max-width: 160px;
	background: -webkit-linear-gradient(lightblue, white);
    background: -o-linear-gradient(lightblue, white);
    background: -moz-linear-gradient(lightblue, white);
    background: linear-gradient(lightblue, white);
	border: 2px solid lightgrey;
	color: darkblue;
	padding: 10px;
	z-index: 3;
	font-size: 14px;
	float: left;
	border-bottom: 1px solid black;
	max-height: 300px;
	overflow-y: scroll;
}

.bfclose {
	visibility: hidden;
}

}

@media (max-width: 1024px){
#bfframe { 
	display: none; 
	font-size: 14px;
	cursor: text;
    display: block; 
	position: fixed; 
	top: 0px;
	left: 0px;
	right: 0px;
	background: -webkit-linear-gradient(lightblue, white);
    background: -o-linear-gradient(lightblue, white);
    background: -moz-linear-gradient(lightblue, white);
    background: linear-gradient(lightblue, white);
	color: darkblue;
	padding: 10px;
	z-index: 9999;
	font-size: 14px;
	max-height: 150px;
	overflow-y: scroll;
}

.bfclose {
	cursor: wait;
}

}



